
body {
    background: #CED2D9;
}

.logo{
  width: 75vw;
}

.logo img {
  margin-top: 0.6vw;
  margin-left: 1vw;
}

h1 {
    font-family: Inter;
    font-size: 6vw;
    font-style: italic;
    font-weight: 500;
}

p {
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
}

#profilKelompok {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
    > img {
      margin: 7vw 3.5vw;
      width: 30vw;
      height: 100%;
      box-shadow: 2vw -2vw 0px rgba(243,238,234,0.75);
      object-fit: contain;
    }
}

header {
    width: 100%;
    height: 8vw;
    background: #31304D;
    top: 0;
    z-index: 2;
    position: sticky;
    div > img {
        margin: 5px 0 0 5px;
    }
}

.tujuan {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  
    div > p {
      margin-left: 1vw;
    }
    > p1 {
      margin-top: 5vw;
      font-size: 3vw;
      margin-left: 0.1vw;
    }
    div > img {
    border-radius: 100%;
    border: 1vw solid;
    border-color: #F3EEEA;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 80%;
    height: 29%;
    object-fit: cover;
    }
    > .tujuan-isi1 {
      width: 16.6%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .tujuan-isi2 {
      width: 16.6%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .tujuan-isi3 {
      width: 16.6%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .tujuan-isi4 {
      width: 16.6%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .tujuan-isi5 {
      width: 16.6%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .tujuan-isi6 {
      width: 16.6%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.pengenalankeg {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  margin-right: 6vw;
  div > img {
    border-radius: 100%;
    margin-top: 3vw;
    margin-right: 6vw;
    width: 25vw;
    height: 62%;
    object-fit: cover;
  }
}

.bag1 {
  display: flex;
  flex-direction: row;
}

.bag2 {
  display: flex;
  flex-direction: row;
}

.manfa1 {
  background-color: #F3EEEA;
  width: 50%;
  border: 1vw solid #FFFFFF;
  padding: 2vw;
  margin: 2vw;
  display: flex;
  div > p {
    margin-left: 2vw;
    margin-right: 6vw;
  }
  
  div > img {
    margin-right: 2vw;
    border-radius: 100%;
    align-items: center;
  }
}

.manfa1img img {
  border: 0.5vw solid #E9DCD1;
  width: 9vw;
  height: 95%;
  object-fit: cover;
}

.manfa2 {
  background-color: #F3EEEA;
  width: 50%;
  border: 1vw solid #ffffff;
  padding: 2vw;
  margin: 2vw;
  display: flex;
  div > p {
    margin-left: 2vw;
    margin-right: 6vw;
  }
  
  div > img {
    margin-right: 2vw;
    border-radius: 100%;
  }
}

.manfa2img img {
  border: 0.5vw solid #E9DCD1;
  width: 9vw;
  height: 95%;
  object-fit: cover;
}


.hasilKegiatan {
  display: flex;
  flex-direction: row;
  gap: 3%;
  width: 100%;
  div > p {
    margin-left: 10px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  > .inHasilKegiatan {
    width: 31.3%;
  }
}
.container {
  width: 29vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button1 {
  margin-left: 0;
  z-index: 1;
}
.button2 {
  margin-left: 26vw;
  z-index: 1;
}
.button3 {
  margin-left: 0;
  z-index: 1;
}
.button4 {
  margin-left: 26vw;
  z-index: 1;
}
.button5 {
  margin-left: 0px;
  z-index: 1;
}
.button6 {
  margin-left: 26vw;
  z-index: 1;
}

button:hover {
  opacity: 100%;
}

#hasilImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 20px;
  > .itemHasil {
    width: 29vw;
    height: 20vw;
    object-fit: cover;
  }
}
#hasilImages::-webkit-scrollbar {
  display: none;
}

#hasilImages2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 20px;
  > .itemHasil {
    width: 30vw;
    height: 20vw;
    object-fit: cover;
  }
}
#hasilImages::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  opacity: 50%;
  margin: 0 0 0 0;
  width: 3vw;
  height: 3vw;
  position: absolute;
}

.instasiTerkait-img {
  display: flex;
  justify-content: space-between;
  margin: 0 1vw 0 1vw;
  img {
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
  }
  .img3 {
    width: 20vw;
    height: 20vw;
  }
  align-items: center;
}

@media only screen and (max-width: 800px) {
  #profilKelompok {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 0 0 0;
    > img {
      width: 30vw;
      margin: 5vw 0 0 0;
    }
  }

  .tujuan-isi1 {
    grid-area: area1;
  }
  .tujuan-isi2 {
    grid-area: area2;
  }
  .tujuan-isi3 {
    grid-area: area3;
  }
  .tujuan-isi4 {
    grid-area: area4;
  }
  .tujuan-isi5 {
    grid-area: area5;
  }
  .tujuan-isi6 {
    grid-area: area6;
  }
  
  .tujuan {
    display: grid;
    margin-left: 4vw;
    grid-template-areas: "area1 area2"
                         "area3 area4"
                         "area5 area6";
  > p1 {
    font-size: 0%;
  }

  div > img {
    height: 40%;
    object-fit: cover;
  }

  > .tujuan-isi1 {
  width: 50%;
  margin-bottom: 5vw;
  height: 50vw;
  }
  > .tujuan-isi2 {
  width: 50%;
  margin-bottom: 5vw;
  height: 50vw;
  }
  > .tujuan-isi3 {
  width: 50%;
  margin-bottom: 5vw;
  height: 50vw;
  }
  > .tujuan-isi4 {
  width: 50%;
  margin-bottom: 5vw;
  height: 50vw;
  }
  > .tujuan-isi5 {
  width: 50%;
  margin-bottom: 5vw;
  height: 50vw;
  }
  > .tujuan-isi6 {
  width: 50%;
  margin-bottom: 5vw;
  height: 50vw;
  }
}
  
  .pengenalankeg {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    align-items: center;
  }
  .pengenalankegimg {
    height: 42vw;
    margin-top:5vw;
    margin-bottom: -15vw;
  }

  #manfaatKegiatan {
    display: flex;
    flex-direction: column;
    .manfa1img {
      display: flex;
      align-items: center;
      img {
        height: 70%;
      }
    }
    .manfa2img {
      display: flex;
      align-items: center;
      img {
        height: 70%;
      }
    }
  }
  #hasilKegiatan {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hasilKegiatan {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .instasiTerkait-img {
    display: flex;
    flex-direction: column;
  }
  .bag1 {
    display: flex;
    flex-direction: column;
  }
  .bag2 {
    display: flex;
    flex-direction: column;
  }

  h1, h2, h3{
    margin-bottom: 1vw;
  }
  p {
    font-size: 2vw;
  }
  
  #instasiTerkait {
    display: flex;
    flex-direction: column;
    align-items: center;
    .instasiTerkait-img {
      align-items: center;
      display: flex;
      gap: 20px;
    }
  }
}
